*{
    margin: 0;
    padding: 0;
    font-family:serif;

}

.contact textarea{
    
    outline:0;
    border-bottom: 1px solid #0d0b0b;
    background: transparent;
    resize :none;
 
    
}
.


